:root {
    --primary: #3A99AE; 
  }

  .primary{
    background-color: var(--primary);
  }

  .banner{
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
  }